#hs-component {
    background-color: #34343e;
    padding: 0
}

#hs-component > .container {
    width: 100%;
    padding: 0
}

.img-thumbnail {
    border: 0
}

#hs-component .container {
    padding: 0
}

#header {
    background-color: #3A3A4F;
    border-bottom: 10px solid #eee
}

#header .container {
    background-color: #3A3A4F;
    box-shadow: none
}

#header h1 {
    text-align: left;
    color: #eee;
    text-transform: none;
    font-weight: 400
}

.demo, h1 {
    text-align: center
}

#demos {
    background-color: #eee
}

#demos .container {
    background-color: transparent;
    box-shadow: none
}

#demos #secondary-mobile-menu, #secondary-mobile-menu {
    background-color: #3A3A4F
}

#demos .row {
    background-color: transparent
}

#demos .row:last-of-type {
    border-bottom: 0
}

h1 {
    margin-bottom: 1em;
    font-weight: lighter
}

.demo {
    margin: 20px 0
}

.demo-container {
    background: #f9f9f9;
    box-shadow: 0 3px 4px #ddd;
    position: relative;
    transition: transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out
}

.demo-container.new-demo:after {
    content: 'New';
    position: absolute;
    top: 5px;
    left: -5px;
    background: #6B6FD0;
    box-shadow: 0 1px 2px #bbb;
    padding: 2px 10px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase
}

.demo-container:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px)
}

.demo a {
    font-weight: lighter;
    color: #fff
}

.image-container {
    height: 100%;
    max-height: 250px;
    padding: 0;
    background-color: #fff;
    font: 0/0 a
}

.dark-unica .image-container {
    background-color: inherit
}

.sand-signika .image-container {
    background: url(http://www.highcharts.com/samples/graphics/sand.png)
}

.image-container::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.image-container img, .image-container svg {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    max-height: 250px;
    border-radius: 0;
    padding: 0;
    border: 0;
    background: 0;
    position: inherit !important;
    border-bottom: 1px solid #EDEDED
}

.demo h3 {
    text-transform: none;
    color: #6B6FCE;
    font-size: 16px;
    font-weight: 700;
    transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out
}

.demo .demo-container:hover h3 {
    color: #58BB45
}

.row > .title {
    background-color: transparent;
    color: #3A3A4F
}

.row > .title > h2 {
    margin: 20px 0 0;
    text-transform: none;
    font-weight: 500;
    padding-bottom: 14px;
    border-bottom: 2px solid #D4D4DE
}

a.btn.btn-theme {
    color: #eeeaea;
    background-color: #565669;
    border: 1px solid #34343e;
    border-bottom: 0;
    border-radius: 0;
    font-weight: 700;
    font-size: 13px;
    margin: 0 2px 0 0;
    letter-spacing: .5px;
    line-height: 36px;
    padding: 0 15px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out
}

a.btn.btn-theme:hover {
    background-color: #6A6A7E;
    color: #90ef7f
}

a.btn.btn-theme.disabled {
    background-color: #eee;
    color: #313131;
    opacity: 1
}

.select {
    margin-bottom: 10px;
    margin-top: 10px
}

.select label {
    color: #fff
}

.dropdown.theme > ul {
    border-radius: 0;
    border: 0
}

@media (max-width: 400px) {
    .demo {
        width: 100%
    }

    .demo-container > div {
        width: 50%
    }

    .image-container {
        height: auto;
        max-height: auto;
        min-height: 100px
    }

    .demo h3 {
        text-align: left
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .image-container {
        height: 200px
    }

    .image-container img, .image-container svg {
        max-height: 200px
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .demo-container {
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px transparent
        }

        .demo-container:hover {
            -webkit-transform: scale(1.05);
            transform: scale(1.05)
        }
    }@media screen and (min-width: 992px) and (max-width: 1200px) {
    .demo-container {
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px transparent
    }

    .demo-container:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}@media screen and (min-width: 1200px) {
    .demo-container {
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px transparent
    }

    .demo-container:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }
}
}