#page2 {
    height: 100vh;
}

.secret {
    display: none;
    text-align: center;
}

@media (min-width: 320px) {
    .return {
        font-size: 110%;
    }



}

@media (min-width: 520px) {
    .return {
        font-size: 130%;
    }
}

@media (min-width: 1025px ) {
    .return {
        width: 20%;
        height: 10%;
        align-content: center;
        font-size: 200%;
        border: dashed;
        margin: 0 auto;
    }
}
