<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Dice Stats</title>

    <script src="angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <style>

        body {
            text-align: center;
        }

        th {
            border: 1px solid dodgerblue;
        }

        table {
            table-layout: fixed;
        }


        #chart { width: 50%; margin: 0 auto; }

        p { display: inline; }
    </style>

</head>
<body>

    <div ng-app = "myApp" ng-controller="controller">

        <button ng-click="random(true)">Roll Dice</button>
        <button ng-click="random100()">Roll Dice x 100</button>

        <div>
            <p>Count: {{count}}</p>
        </div>


        <div>
            <table style = "width:100%">
               <tr>
                   <th> 1 </th>
                   <th> 2 </th>
                   <th> 3 </th>
                   <th> 4 </th>
                   <th> 5 </th>
                   <th> 6 </th>
               </tr>
                <tr>
                    <td>{{ a }}</td>
                    <td>{{b }}</td>
                    <td>{{c}}</td>
                    <td>{{d}}</td>
                    <td>{{e}}</td>
                    <td>{{f}}</td>
                </tr>

            </table>

        </div>

        <div class = 'red'>
            <p>Result: </p>

        <p ng-show = "face1">
            {{face1text}} </p>
        <p ng-show = 'face2'>
            {{face2text}} </p>
        <p ng-show = 'face3'>
            {{face3text}} </p>
        <p ng-show = 'face4'>
            {{face4text}} </p>
        <p ng-show = 'face5'>
            {{face5text}} </p>
        <p ng-show = 'face6'> {{face6text}} </p>
        <p ng-show = 'face7'> {{face7text}} </p>
        </div>
    </div>



    <div id = "chart" >
        <canvas id="myChart"></canvas>
    </div>


    <script>




        //app.js
        var app = angular.module('myApp', ['chart.js']);


        //controller
        app.controller('controller', function($scope) {


            $scope.face1text = "You can do it! You are number 1!";
            $scope.face2text = "You rolled a 2!";
            $scope.face3text = "Hello! Its a 3!";
            $scope.face4text = "Almost there! It won't take 4-ever!";
            $scope.face5text = "Its a 5!";
            $scope.face6text = "Its a 6!";
            $scope.face7text = "100 more rolls!";

            $scope.a = $scope.b = $scope.c=$scope.d=$scope.e=$scope.f = 0;
            $scope.face7 = false;


            $scope.count = 0;


            //random button
            $scope.random = function(showText) {

                var num = getRandomInt(1,6);
                $scope.face1 = $scope.face2  = $scope.face3 = $scope.face4 = $scope.face5 = $scope.face6 = $scope.face7 = false;

                switch(num) {
                    case 1:
                        $scope.face1 = true;
                        $scope.a++;
                        break;
                    case 2:
                        $scope.face2 = true;
                        $scope.b++;
                        break;
                    case 3:
                        $scope.face3 = true;
                        $scope.c++;
                        break;
                    case 4:
                        $scope.face4 = true;
                        $scope.d++;
                        break;
                    case 5:
                        $scope.face5 = true;
                        $scope.e++;
                        break;
                    case 6:
                        $scope.face6 = true;
                        $scope.f++;
                }

                if(!showText) {
                    $scope.face1 = $scope.face2 = $scope.face3 = $scope.face4 = $scope.face5 = $scope.face6 = false;
                    $scope.face7 = true;
                }
                else
                    updatechart();

                $scope.count++;

                function getRandomInt(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }

            }//end random();




            //random x 100 button
            $scope.random100 = function() {
                for (i = 0; i < 100; i++)
                    $scope.random();
                    updatechart();
            }


//                chart
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart ;


            function updatechart(){
                myChart = new Chart(ctx, {
                    type: 'line',
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    },
                    data: {
                        labels: ['1', '2', '3', '4', '5', '6'],
                        datasets: [{
                            label: 'oranges',
                            data: [$scope.a, $scope.b, $scope.c, $scope.d,$scope.e ,$scope.f ],
                            backgroundColor: "rgba(255,153,0,0.4)"
                        }]
                    }
                });
            }
        });


    </script>



    <script src= "Chart.min.js"></script>
    <script src= "angular-chart.js"></script>



</body>
</html>