<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-http-service-production</title>


    <script src="angular.min.js"></script>
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <style>
        .center { text-align: center; }
    </style>


    <script>

        (function (angular) {
            'use strict';
            angular.module('httpExample', [])

                .config(['$sceDelegateProvider', function ($sceDelegateProvider) {
                    // We must whitelist the JSONP endpoint that we are using to show that we trust it
                    $sceDelegateProvider.resourceUrlWhitelist([
                        'self',
                    ]);
                }])
                .controller('FetchController', ['$scope', '$http',
                    function ($scope, $http) {
                        $scope.url = 'http://api.sunrise-sunset.org/json?lat=42.317432&lng=-83.026772&date=2016-12-20';

                        $scope.fetch = function () {

                            $http({method: 'GET', url: $scope.url})
                                .then(function (response) {
                                    $scope.status = response.status;
                                    $scope.data = response.data;
                                }, function (response) {
                                    $scope.data = response.data || 'Request failed';
                                    $scope.status = response.status;
                                });

                            console.log("data fetched");
                        };

                    }]);
        })(window.angular);
    </script>


</head>
<body ng-app="httpExample">
<div ng-controller="FetchController">
    <div class="center">
        Paste JSON URL:
    <input type="text" ng-model="url" size="80" aria-label="URL"/>
    <button id="fetchbtn" ng-click="fetch()">fetch</button>
    </div>
    <br>
    <pre>http status code: {{status}}</pre>
    <pre>http response data: {{data}}</pre>
</div>
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->