
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}




#menu {
    background: black;
    text-align: center;
    text-space: 2%;
}

#menu a {
    color: white;
    font-size: 4vmin;
    text-decoration: none;
    padding: 5%;
}

.blue {
    background: aliceblue;
}






/*dropdown*/


.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 4vmin;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: darkblue;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkblue;
}
